.pagination {
  $self: &;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 25px;

  &__item {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;

    &_active {
      background-color: #7b61ff;
      color: white;
    }

    &:hover {
      background-color: #b8aaf9;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__btn {
    width: 35px;
    height: 35px;
    border: none;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  &__arrow {
    border: none;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
    }
  }

  &__dots {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    color: #7b61ff;
  }

  &__dark {

    #{$self}__arrow {
      background-color: black;
    }

    #{$self}__dots {
      color: white;
    }

    #{$self}__item {
      color: black;

      &_active {
        color: white;
      }

      &:hover {
        color: white;
      }
    }
  }
}

@media (max-width: 768px) {
  .pagination {
    gap: 10px;
    margin: 25px;

    &__item {
      width: 25px;
      height: 25px;
      font-size: 16px;
    }

    &__btn {
      width: 25px;
      height: 25px;
    }

    &__dots {
      font-size: 18px;
    }
  }
}

@media (max-width: 580px) {
  .pagination {
    gap: 0;
    margin: 25px;


    &__item {
      display: none;

      &_active {
        display: block;
        margin-left: 5px;
        width: 35px;
        height: 35px;
        font-size: 18px;
      }

      &:last-child {
        margin-right: 5px;
      }
    }

    &__btn {
      width: 35px;
      height: 35px;
    }

    &__dots {
      display: none;
    }
  }
}

@media (max-width: 400px) {
  .pagination {
    gap: 0;
    margin: 20px;


    &__item {
      display: none;

      &_active {
        display: block;
        margin-left: 5px;
        width: 30px;
        height: 30px;
        font-size: 16px;
      }

    }

    &__btn {
      width: 30px;
      height: 30px;
    }

    &__dots {
      display: none;
    }
  }
}